@import "tailwindcss";

.marquee {
  width: max-content;
  animation: marqueeScroll 30s linear infinite;
}

.marquee:hover {
  animation-play-state: paused;
}

@keyframes marqueeScroll {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }

}